.title-2{    
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem 0;
    background-size:cover;
    text-shadow: 5px 5px 5px #510c4b;
    font-family: 'Aprilla Grotesk', serif;                                    
            
}

.p1{
    font-size: 1.5rem;
    text-align: center;
    margin: 2rem 0;
    background-size:cover;
    text-shadow: 5px 5px 5px #601515;
    font-family: 'Sweet Milk', sans-serif;
                                                
}