.title-2{    
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem 0;
    background-size:cover;
    text-shadow: 5px 5px 5px #1c031a;
    font-family: 'Aprilla Grotesk', serif; 
    margin-top: 3.5rem;                                   
            
}

.p1{
    font-size: 1.5rem;
    text-align: center;
    margin: 2rem 0;
    background-size:cover;
    text-shadow: 5px 5px 5px #230424;
    font-family: 'Sweet Milk', sans-serif;
                                                
}
.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
    background-color: #580b4f;
}

#root{
    background-color: #580b4f;
}