.navbar {
  background-color:white;
}
.navbar-brand {
  color:#841277;
  font-size: 24px;
  align-items: center;
  text-align: center;
  font-family: 'cursive', serif;
  background-color: white;
 
}

.container navbar-container{
  
}

*{
  margin: 0;
  padding: 0;
  align-items: center;
  text-align: center;
  background-color: #841277;
  color: white;
}

.btn{
  color: var(--heliotrope);
  color: white;
}